*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    height: 100vh;
}

.content-container{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.2));
}

.nav{
    width: 90vw;
    height: 10%;
    background-color: rgba(0,0,0,.3);
    margin: auto;
    border-radius: 0 0 1rem 1rem;
}

@media only screen and (max-width: 480px) {
    .nav{
        width: 100vw;
        border-radius: 0 0 0 0;
    }
    }